body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* butoon=exit */
.back-to-menu {
  color: white;
  text-decoration: none;
  position: relative;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.back-to-menu:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 30px;
  background: rgba(30, 233, 186, 0.3);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.back-to-menu span {
  position: relative;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.back-to-menu svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: white;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.back-to-menu:hover {
  color: black;
}

.back-to-menu:hover::before {
  width: 200px;
  background: #1ee9ba;
}

.back-to-menu:hover svg {
  stroke: black;
  transform: translateX(0);
}

.back-to-menu:active {
  transform: scale(0.95);
}
